@model HSH.Models.ThumbnailAreaModel
<style>
    /* The overlay effect (full height and width) - lays on top of the container and over the image */
    .overlay {
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .3s ease;
        background-color: black;
    }

        /* When you mouse over the container, fade in the overlay icon*/
        .overlay:hover {
            opacity: 0.7;
        }

    /* The icon inside the overlay is positioned in the middle vertically and horizontally */
    .icon {
        color: white;
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        vertical-align: middle;
    }

    .favourite-heart {
        font-size: 8rem;
        color: red;
    }

    .heart {
        font-size: 8rem;
        color: white;
    }
</style>

@*@Styles.Render("~/Content/css")*@


<div class="row">
    @if (!Model.Title.Equals(string.Empty))
    {
        <div class="headline">
            <h3>@Model.Title </h3>
        </div>
    }
    @if (Model.Thumbnails != null)
    {
        foreach (var thumb in Model.Thumbnails)
        {
            <div class="col-sm-3">
                <div class="thumbnail">
                    <div class="thumbnail-container">
                        <div class="thumbnail-img-container">
                            <img class="thumbnail-img" src="@thumb.ImageUrl" alt="Property Photo" />
                            <div class="overlay">

                                @{
                                    string heartClass = thumb.IsFavourite ? "favourite-heart" : "heart";
                                    string action = thumb.IsFavourite ? "RemoveFromFavourites" : "AddToFavourites";
                                    string title = thumb.IsFavourite ? "Remove from favourites" : "Add to favourites";
                                }

                                <a href="~/Home/@action?propertyId=@thumb.PropertyId" class="icon" title="@title">
                                    <span class="glyphicon glyphicon-heart @heartClass"></span>
                                </a>
                            </div>
                        </div>
                        <a class="tag text-tag hover-effect" href="@thumb.Link">
                            @thumb.TagText
                        </a>
                        <div class="tag content-tag">@thumb.ContentTag</div>
                    </div>
                    <div class="caption">
                        <h3><a href="@thumb.Link">@thumb.Title</a></h3>
                        <p>@thumb.Description</p>
                        <strong>€ @thumb.Price</strong>
                    </div>
                </div>
            </div>
        }
    }
</div>

