@model HSH.Entities.Favourite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Favourite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterationCode)
        </dd>

    </dl>
</div>
<p>
    @Html.Partial("_EditButtonPartial", Model.Id)
    @Html.Partial("_BackToListButtonPartial")
</p>
